/* 
    Created on : 08-DEC-2020 : 10:52
    Author     : Marcus Iremonger
    Version    : 1.0.0
    URL:       : https://www.damteq.co.uk
    NOTE       : USE THIS CSS FILE IF YOU NEED TO OVERRIDE SOMETHING BUT DONT HAVE
                 ACCESS TO SCSS OR KNOW HOW TO USE IT.
*/

/*Adds envelope style effect here*/
/* .home h1{
    visibility:hidden;
} */

/* css for phone menu by SS */
.jet-mobile-menu-cover, .jet-mobile-menu__container{
	margin-top:106px;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item > a.mega-menu-link {
	font-weight:600!important;
	font-size:16px!important;
    padding-bottom: 70px!important;
    padding-top: 15px!important;
}

#featured-blog-post-carousel .elementor-swiper-button {display:none;}

#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item {
	margin: 0px 48px 0px 0px!important;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu #mega-menu-item-43 {
	margin:0!important;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
display:none!important;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item > a.mega-menu-link:focus {
		font-weight:600!important;
	font-size:16px!important;
}

#header-search-form .elementor-widget-container {
    height: 89px!important;
}


.jet-mobile-menu__toggle-icon .fas{
	font-size:32px !important;
	color:#FF9100;
}

.LowerWeightContact{
	font-weight: normal!important;
	font-size: 17px!important;
	text-align: left!important;
	letter-spacing: 0px!important;
	color: #12121F!important;
}



@media(max-width:993px){
	#elementor-popup-modal-1469 .dialog-message{
		align-items: flex-start !important;
	}
}

#elementor-popup-modal-1469 .dialog-message{
	height: 94vh !important;
}


/* #blog-search-filter .searchandfilter input{
	width:auto !important;
} */

.searchandfilter ul li{
	position:relative;
}

#blog-search-filter .searchandfilter li.sf-field-category:after, #blog-search-filter .searchandfilter li.sf-field-tag:after, #blog-search-filter .searchandfilter li.sf-field-sort_order:after{
	position:absolute;
	right:4px;
	top:20px;
}

@media(min-width:767px) and (max-width:960px){
	#blog-search-filter .searchandfilter ul{
		flex-wrap:wrap;
	}
}


@media screen and (min-width: 1024px) and (max-width: 1366px) {

	#footer-central-logo-overlay:after{
		left:45% !important;
	}
}
/* Bullet point rectangle gradient start*/
#BulletPointGradient ul{
    padding: 0px
}
#BulletPointGradient li {
    position: relative;
    padding-left: 30px;
}
#BulletPointGradient li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background: linear-gradient(to right, transparent, #ff9100);
  margin-right: 10px;
  margin-bottom: 2px;
  position: absolute;
  top: 8px;
  left: 0;
}
#BulletPointGradient li::marker{
    content: "";
}
#BulletPointGradient ul {
    padding: 0;
    list-style: none; /* Remove default list markers */
}

#BulletPointGradient li::before {
    content: '•'; /* Custom bullet character, you can change this to any character you prefer */
    display: inline-block;
    width: 20px;
    height: 2px;
    background: linear-gradient(to right, transparent, #ff9100);
    margin-right: 10px;
    margin-bottom: 2px;
    color: transparent; /* Hide the default bullet character */
}

@media (max-width:767px) {

#BulletPointGradient li::before {
	margin-right:0px;transform: translate(-6px, 8px);
	position:absolute;left:0px;
}
	
	#BulletPointGradient ul {
		padding-left:20px;}
		#BulletPointGradient ul li {
		padding-bottom:10px;}
	

}

/* show contact on phone and hide on desktop */

@media(min-width:993px){
	.phoneContact{
		display:none !important;
	}
}

@media(max-width:767px){
	div.asp_m.asp_m_1 .probox .proinput input.orig::placeholder {
		font-size: 14px !important; /* Adjust the font size as needed */
	}	
	#featured-blog-post-carousel .elementor-swiper-button {display:block;}

}


/* Style for menu items with descriptions */
.elementor-nav-menu li a::after {
    content: attr(title); /* Use 'title' attribute as description */
    display: block;
    font-size: 12px; /* Adjust the font size as needed */
    color: #999; /* Adjust the color as needed */
}
